<%- include('../start.ejs') %>

    <%- include('../header.ejs') %>

        <%- include('../navBar.ejs') %>

        <br><br>

            <div class="container">
                <table class="table">
                    <thead>
                        <tr style="text-align: center;">
                            <% console.log(users) %>
                                <th scope="col" class="text-danger">#</th>
                                <th scope="col">username</th>
                                <th scope="col">email</th>
                                <th scope="col">user type</th>
                        </tr>
                    </thead>

                    <% users.map(user=> { %>
                        <tbody>
                            <tr style="text-align: center;">
                                <th scope="row" class="text-danger">
                                    <%= user._id %>
                                </th>
                                <td>
                                    <%= user.username %>
                                </td>
                                <td><%= user.email %> </td>
                                <td><%= user.userType %> </td>
                            </tr>
                            
                            </tr>
                        </tbody>
                        <% }) %>
                </table>
            </div>

            <%- include('../footer.ejs') %>