<%- include('../includes/start.ejs') %>

    <%- include('../includes/header.ejs') %>

        <%- include('../includes/navBar.ejs') %>


        <main>

            <% if(successMessage.length > 0){ %>
                    <div class="alert alert-success">
                        <span class="text-center d-block"><%= successMessage %> </span>
                    </div>
                <% }else if(errorMessage.length > 0){ %>
                        <div class="alert alert-danger">
                            <span class="d-block text-center"><%= errorMessage %></span>
                        </div>
                    <% }else { %>
                        
                        <% } %> 
            
            <% if (product.length> 0) { %>
                <ul class="cart__item-list">
                    <% product.forEach(p=> { %>
                        <li class="cart__item">
                            <div>
                                <img src="<%= p.productId.imageURL %>" alt="<%= p.productId.title %>" class="img-thumbnail">
                            </div>
                            <h1>
                                <%= p.productId.title %>
                            </h1>
                            <h2>
                                <%= p.quantity %>
                            </h2>
                            <form action="/cart-delete" method="POST">
                                <button class="btn btn-danger"><i class='fas fa-trash-alt'></i></button>
                                <input type="hidden" name="prodId" value="<%= p.productId._id %>">
                            </form>
                        </li>
                        <% }) %>
                        <div class="row">

                            <div class="container">
                                <div class="centered">
                                    <form action="/create-order" method="POST">
                                        <button class="btn btn-primary">سفارش محصولات</button>
                                    </form>
                                </div>
                            </div>


                        </div>
                </ul>
                <% } else { %>
                    <h1 class="text-danger text-center">سبد خرید خالی است</h1>
                    <% } %>



        </main>




            <%- include('../includes/footer.ejs') %>